<span title="@Toolkit.DateTimeExtensions.ToLocalDateTimeString(Date)">@Toolkit.DateTimeExtensions.ToLocalDurationString(Date)</span>

@code {
    [Parameter]
    public DateTime? Date { get; set; }
}
