<div style="@GetStyle()">
    <RadzenProgressBarCircular Value="100" ShowValue="true" Mode="ProgressBarMode.Indeterminate" ProgressBarStyle="ProgressBarStyle.Primary" Size="@Size" Visible="@Visible">
        <Template>Loading</Template>
    </RadzenProgressBarCircular>
</div>

@code {
    [Parameter]
    public bool Center { get; set; }

    [Parameter]
    public ProgressBarCircularSize Size { get; set; } = ProgressBarCircularSize.Large;

    [Parameter]
    public bool Visible { get; set; } = true;

    private string GetStyle()
    {
        return Center ? "position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;" : null;
    }
}